
.ipof__scroll-panel {
  height: 17rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem;
  white-space: nowrap;
}

.ipof__scroll-panel-title {
  padding: 1rem;
}

.ipof__scroll-panel-title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #444;
  font-weight: 300;
  margin-top: .5rem;
}