
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #ddd;
}

.ipof__button {
  padding: .4rem .8rem;
  border: 2px solid #13002b;
  color: #13002b;
  font-size: .9rem;
  text-transform: uppercase;
  background: transparent;
}